@import url("AddressAndProblemForm.css");
@import url("BookAppointmentForm.css");
@import url("Home.css");
@import url("NavBar.css");
@import url("SlidingPanel.css");
@import url("Thankyou.css");
@import url("App.css");


.dashboard {
	height: inherit;
	display: flex;
	flex-direction: column;
}