.home-container {
	position: relative;
	height: calc(100vh - 51px);
}

.main-physio-image-container {
	position: relative;
	background: white;
	height: inherit;



	box-shadow: 16px -1px 35px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 16px -1px 35px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 16px -1px 35px -5px rgba(0, 0, 0, 0.75);
}

.main-image {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.basic-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(39, 81, 160, 0.2);
}


.treatment-container {
	padding-top: 64px;
	padding-bottom: 128px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: left;

	background: white;

	box-shadow: 3px 18px 131px 5px rgba(0, 0, 0, 0.43) inset;
	-webkit-box-shadow: 3px 18px 131px 5px rgba(0, 0, 0, 0.43) inset;
	-moz-box-shadow: 3px 18px 131px 5px rgba(0, 0, 0, 0.43) inset;

	/*
box-shadow: 4px 4px 124px -36px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 4px 4px 124px -36px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 4px 4px 124px -36px rgba(0,0,0,0.75) inset;*/
}

.treatment-title {
	display: inline-block;
	text-align: left;
	padding-left: 12%;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 64px;
	background: tomato;
	margin-bottom: 64px;
	border-radius: 0px 32px 32px 0px;
	color: white;

	box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
}

.treatment-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
	list-style-type: none;
	text-align: center;
}

li {
	margin-top: 18px;
	margin-bottom: 18px;
}
.footer {
	padding-top: 32px;
	padding-bottom: 32px;

	font-size: 1.2em;
	text-align: center;
	color: white;
	background-color: black;

	font-weight: 600;
	letter-spacing: 0.5px;
    line-height: 32px;
}