.home-container {
  /* padding-left: 18px; */
  /* padding-right: 18px; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}
.main-physio-image {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}
