.enter {
  animation: slide-in;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0,0,0.58,1);;
}

.exit {
  animation:  slide-out;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0,0,0.58,1);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1; 
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
    opacity: 1; 
  }
  to {
    transform: translateX(-100%);
    opacity: 0; 
  }
}